doctype
html
   include ../assets/jade/static/__head
   +title( 'Уроки Истории | Народы' )

   body
      #container
         #bg

         include ../assets/jade/static/header-pages
         +caption('Народы', '')
         .wrapper#base_holder
            #base_content_holder.wrapper
               include ../assets/jade/breadcrumbs/__breadcrumbs





   include ../assets/jade/static/footer

