doctype
html
   include ../assets/jade/static/__head
   +title( ' Места' )

   body
      #container
         #bg

         include ../assets/jade/static/header-pages
         +caption('Места', '')
         .wrapper#base_holder
            #base_content_holder.wrapper
               include ../assets/jade/breadcrumbs/__breadcrumbs

               include ../assets/jade/places/filters/filters-list
               include ../assets/jade/places/places/places-list





   include ../assets/jade/static/footer

