doctype
html
   include ../assets/jade/static/__head
   +title( ' Войны и&nbsp;Сражения' )

   body
      #container
         #bg

         include ../assets/jade/static/header-pages
         +caption('Войны и&nbsp;Сражения')
         .wrapper#base_holder
            #base_content_holder.wrapper
               include ../assets/jade/breadcrumbs/__breadcrumbs

               include ../assets/jade/war/filters/filters-list
               include ../assets/jade/war/wars-list

   include ../assets/jade/static/footer

