.index__tooltip( id='index-tooltip' )
   .tooltip__holder
      .tooltip__arrow
      .main-tooltip__content.wrapper
         h4.h4.mb-02 Это не официальный сайт авторского проекта Клима Жукова «Уроки истории онлайн»*
         sub * просто им вдохновлён
         .mb-1
         p Представленные материалы общедоступны, лишь стуктурированы для лучшего запоминания и&nbsp;обёрнуты в&nbsp;приятную&nbsp;упаковку
            br
            | Самое интересное же именно в роликах Клима Жукова, в&nbsp;его&nbsp;подаче материала и&nbsp;выборе приоритетных тем
            br
            | Главное всё&ndash;таки не заучивать даты и имена, а понимать и чувствовать сам процесс становления настоящего



