.index__tooltip( id='index-tooltip' )
   .tooltip__holder
      .tooltip__arrow
      .main-tooltip__content.wrapper
         h4.h4.mb-02 Казалось бы, это просто вики-перевёртыш* по истории
         sub * смысла мало, но хотя бы красивенько

         .mt-2 Я фанат иконок и&nbsp;jsки, порядка и&nbsp;модульности, ячеек и&nbsp;авоськи в&nbsp;авоське. А в&nbsp;какой сфере знаний больше всего способов, которыми осуществляется систематизация?

         .mt-1 Это моя песочница, мой парк аттракционов
            .ml-02 &bull;  Тут я могу подобрать материальные иконки, иллюстрирующие абстрактные понятия: влияние, реформа, пропаганда
            .ml-02 &bull;  Воплощаю свои смелые верстальщиские идеи, которые ни однократно помогали в&nbsp;работе: древо с точками со страницы хронологии ни раз встречалось потом на работе
            .ml-02 &bull;  Оттачиваю свои умения анимировать иконки (главная страница), анимировала затем многие элементы на сайте it-cube
            .ml-02 &bull;  Ставлю себе сложные задачи и&nbsp;реализовывала их на javascript (jquery). Тут ничего нового и&nbsp;экстремального, обожаю js и&nbsp;не перестаю воплощать свои фантазии или рабочие задачи с его помощью &#9829;

         .mt-2 Что немаловажно, контент не нужно выдумывать &ndash; всё, что не потребуется, есть в&nbsp;открытых источниках. На написание тестов не тратится фантазии, вся производительность идёт на вёрстку и&nbsp;javascript


