footer.footer__holder
   .wrapper.footer__content
      .footer__author  &copy;&nbsp;2021–2022&nbsp;&nbsp;Инна Грант • elGranto

script( src='../assets/js/jquery.js' )
script( src='../assets/js/build.js' )

