.header__social

   a( href='https://t.me/grant_inna_elgarro', target='_blank' ).social__holder
      .social__icon.icon-telegram
      .social__name telegram
   a( href='https://github.com/Grant-Inna', target='_blank' ).social__holder
      .social__icon.icon-git
      .social__name github

