.header__social
   a( href='https://www.youtube.com/channel/UCIyLQ6cL0eWj1jT6oyy148w', target='_blank' ).social__holder
      .social__icon.icon-youtube
      .social__name youtube
   a( href='https://vk.com/uzhukoffa', target='_blank' ).social__holder
      .social__icon.icon-vk
      .social__name vkontakte
   a( href='https://t.me/uzhukova', target='_blank' ).social__holder
      .social__icon.icon-telegram
      .social__name telegram
   //a( href='https://www.instagram.com/klimzhukoff/?hl=ru', target='_blank' ).social__holder
   //   .social__icon.icon-instagram
      .social__name instagram
   a( href='https://sponsr.ru/uzhukoffa_lessons', target='_blank' ).social__holder.social__holder-sponsr
      .social__icon.icon-sponsr
         .icon-sponsr-front
         .icon-sponsr-back
      .social__name.social__name-big уроки истории от Клима Жукова
