#base_holder.timeline__holder.elements-holder
   #back
   include __timeline-item
   +item( 'war', 'dice-six', '1955-1975', 'Война во Вьетнаме', 'war_Vietnam', '' )
   +item( 'reforma',  'dice-four', '1861', 'Отмена крепостного права', 'abolition_of_serfdom', '')
   +item( 'war', 'dice', '1314 - 1296 г. до н.э.', 'Война с хеттами', 'war_with_the_Hittites', '-')
   +item( 'crown', 'dice', '1314 - 1296 г. до н.э.', 'Война с хеттами', 'war_with_the_Hittites', '-')
   +item( 'war', 'dice', '264 - 241 г. до н.э.', 'Первая Пуническая война', 'war_First_Punic', '-')
