.concepts__holder.elements-holder
   #back
   include __one-concept
   +concept( 'normative', 'logic', 'Логика', '2', 'Наука о законах и&nbsp;формах правильного построения мыслей', '', 'Нормативная наука о законах, формах и&nbsp;приёмах интеллектуальной деятельности', 'Большая российская энциклопедия' )
   +concept( 'normative', 'concept', 'Понятие', '', 'Мысль, которая отображает общие и&nbsp;существенные признаки предметов', 'no' )
   +concept( 'normative', 'assertion', 'Суждение', '', 'Мысль, которая утверждает или отрицает что-либо относительно предметов и&nbsp;их признаков', 'no' )
