.period__tabs
   .period__big_holder
      .period__big_name
         span Праобщина
         p Присваивающее хозяйство: собирательство, охота, рыболовство
      .periods__holder
         .period__holder
            .period__year 3&nbsp;миллиона
            .period__about
               .period__name Ранний палеолит
               p описание
         .period__holder
            .period__year 100&nbsp;тысяч
            .period__about
               .period__name Средний палеолит
               p описание

   .period__big_holder
      .period__big_name
         span Ранняя родовая община
         p Присваивающее хозяйство, уравнительное распределение, общая собственность
      .periods__holder
         .period__holder
            .period__year 40&nbsp;тысяч
            .period__about
               .period__name Поздний палеолит
               p описание
         .period__holder
            .period__year 10&nbsp;тысяч
            .period__about
               .period__name Мезолит
               p описание

   .period__big_holder
      .period__big_name
         span Поздняя родовая община
         p Присваивающее хозяйство, трудовое распределение, коллективная и личная собственность
      .periods__holder
         .period__holder
            .period__year 8-7&nbsp;тысяч
            .period__about
               .period__name Неолит
               p описание
         .period__holder
            .period__year 5-4&nbsp;тысяча
            .period__about
               .period__name Энеолит
               p описание

   .period__big_holder
      .period__big_name
         span Ранняя и поздняя соседская община
         p Аграрное общество, зарождение классов и государства
      .periods__holder
         .period__holder
            .period__year 4-3&nbsp;тысяча
            .period__about
               .period__name Бронзовый век
               p описание
         .period__holder
            .period__year.period__last 2&nbsp;тысяча
            .period__about
               .period__name Железный век
               p описание
         .period__holder
            .period__year.period__last наши дни

