.filters__holder
   #removeFilters.filters.filter__remove( style='display: none' )
      .filter__chosen
      .filter__icon.icon-cross.base_icon
   #filter__trigger.icon-sliders.base_icon-big
   #filter__close.icon-cross.base_icon-big( style='display: none' )
   #triggerFilters.filters
      span Фильтры
   #filters.filters__list( style='display: none' )
      include __filter-item
      +filter( 'Экономика', 'economy' )
      +filter( 'Право', 'battle' )
      +filter( 'Война', 'war' )
      +filter( 'Техника', 'drafting_compass' )
      +filter( 'Наука', 'scientist' )
      +filter( 'Нормативная наука', 'normative' )
      +filter( 'Философия', 'thinker' )
      +filter( 'Религия', 'religion' )
      +filter( 'Архитектура', 'architect' )
      +filter( 'Писательство', 'writer' )
      +filter( 'Музыка', 'musician' )
      +filter( 'Изобразительное искусство', 'painter' )
      +filter( 'Спорт', 'sportsmen' )

