.war__holder.elements-holder
   #back
   include __one-war
   +war( '4', 'politic', 'thinker', 'bomb', 'founder', '',
      'tevtobyrckii_lec', 'Битва в Тевтобургском лесу', '9 г. н. э.', 'СССР', '', 'USSR', '', 'tevtobyrckii_lec.jpg',
      'Битва между легионами Рима и германскими племенами', '3', '', '', '')
