include __one-place
include ../../mixins/___theory
include ../../mixins/___war
include ../../mixins/___where
include ../../mixins/___image
include ___who-place
include ../../mixins/___text

#base_holder.elements-holder.element-column
   #back
   .element-item-holder
      +place()
      .base_panels

   // name, typeAmount, type1, type2, type3, type4, type5, id, century, bc, date, alphabet, img, mainAbout, whereAmount, whoAmount, imageAmount, moreAmount

