mixin more()

   .icons-panel-triggers
      .base_icons_holder
         case (theory)
            when '1'
               .icon-trigger-theory
                  .base_icon.icon-theory( data-info='theory' )
         case (war)
            when '1'
               .icon-trigger-war
                  .base_icon.icon-battle( data-info='war' )
         case (whereAmount)
            when '1'
               .icon-trigger-place
                  .base_icon.icon-map-marker( data-info='place' )
         case (whoAmount)
            when '1'
               .icon-trigger-person
                  .icon-person.base_icon( data-info='person' )
         case (imageAmount)
            when '1'
               .icon-trigger-image
                  .icon-image.base_icon( data-info='image' )
         case (moreAmount)
            when '0'
               .icon-trigger-more
                  .icon-more.base_icon.icon-light
                  .icon-cross.base_icon( style='display: none' )
            default
               .icon-trigger-more
                  .icon-more.base_icon( data-info='more' )
                  .icon-cross.base_icon( style='display: none' )





