#base_holder.menu__holder.wrapper
   #base_content_holder.menu__content
      .wrapper.menu__items.bedas
         include __menu_item
         +item( 'хронология', 'timeline', 'Датировка и&nbsp;периодизация', 'В этом разделе указаны в&nbsp;хрогологическом порядке как периоды формирования человечества, так и&nbsp;важные даты в&nbsp;развитии общества и&nbsp;стран: от важных открытий и&nbsp;изобретений, до войн и&nbsp;революций' )
         +item( 'события', 'events', 'Ключевые события', 'Подробнее о важных событиях в&nbsp;истории человечества' )
         +item( 'войны', 'war', 'Войны и&nbsp;сражения', 'Список важных сражений, войн, восстаний. Здесь указывается любое противостояние людей, когда оно было, где, а&nbsp;главное почему ' )
         +item( 'личности', 'persons', 'Личности в&nbsp;истории', 'Отдельные люди или даже народы, повлиявшие на ход истории' )
         +item( 'места', 'places', 'Георграфические объекты', 'Обозначения на карте, контурные карты или просто текстовое описание мест, где происходили те или иные важные исторические события. Это не только обозначения, где была война в&nbsp;тот или иной год, или просто существовало то или иное государство, так же и&nbsp;визуализация территории, где зарождались цивилизации, где пролегали торговые пути, где в&nbsp;тот или иной год была засуха. Это очень важно для понимания исторических процессов и&nbsp;запоминания' )
         +item( 'материалы', 'material', 'Материальная культура', 'Важные предметы в&nbsp;истории. От наскальных рисунков, до необычных клинков; от осколков ваз, до полуразвалившихся храмов; от летописей, до захоронений')
         +item( 'религии', 'religion', 'Религии', '' )
         +item( 'изобретения', 'inventions', 'Изобретения', 'Важные изобретения, названия орудий или оружия' )
         +item( 'термины', 'concepts', 'Термины и&nbsp;понятия', 'Ключевые понятия и&nbsp;термины' )
         +item( 'оружие', 'weapon', 'Оружие', '' )
         +item( 'цивилизации', 'civilization', 'Цивилизации', '' )
         +item( 'нарратив', 'narrative', 'Нарративные источники', 'Важные рукописи, произведения, культовые работы' )
         +item( 'народы', 'peoples', 'Племена и&nbsp;народы', '' )
         //+item( 'уроки', 'lessons', 'Уроки', 'В разделе перечислены технические данные уроков, их названия и&nbsp;главные темы, а&nbsp;так же дан список вопросов по расматриваемой в&nbsp;ролике теме' )

