.filters__holder
   #filters_slider_icon.icon-sliders.base_icon-big
   #filters_close_icon.icon-cross.base_icon-big( style='display: none' )
   #filter_chosen_panel.filters( style='display: none' )
      .filter__chosen_text
      .filter__icon.icon-cross.base_icon
   .filters__trigger_holder
      .filters__list_trigger.filters( data-filter-type='results' )
         span Фильтр&nbsp;
         span по итогам
      .filters__list_trigger.filters( data-filter-type='why' )
         span Фильтр&nbsp;
         span по причинам
      .filters__list_trigger.filters( data-filter-type='war' )
         span Фильтр&nbsp;
         span по войне
      .filters__list_trigger.filters( data-filter-type='battle' )
         span Фильтр&nbsp;
         span по сражениям
      .filters__list_trigger.filters( data-filter-type='century' )
         span Фильтр&nbsp;
         span по векам
      .filters__list_trigger.filters( data-filter-type='alphabet' )
         span Фильтр&nbsp;
         span по алфавиту
      include ../../mixins/__filter-item
      include ../../mixins/__filter-item-letter
   #filter_type-results.filters__list( style='display: none' )
      +filter( 'Заключение мирного договора', 'peace' )
      +filter( 'Захват и подчинение', 'subordination' )
      +filter( 'Захват и уничтожение', 'crossbones' )
      +filter( 'Захват и ассимиляция', 'assimilation' )
      +filter( 'Отделение', 'branch' )
   #filter_type-why.filters__list( style='display: none' )
      +filter( 'Власть', 'crown' )
      +filter( 'Земли', 'map' )
      +filter( 'Влияние', 'founder' )
      +filter( 'Ресурсы', 'tree' )
      +filter( 'Рынки сбыта', 'market' )
   #filter_type-war.filters__list( style='display: none' )
      +filter( 'Мировая', 'globe' )
      +filter( 'Локальная', 'pin' )
      +filter( 'Гражданская', 'bomb' )
      +filter( 'Религиозная', 'religion' )
      +filter( 'Классовая', 'interclass' )
   #filter_type-battle.filters__list( style='display: none' )
      +filter( 'Внутреннее', 'recycle' )
      +filter( 'Международнее', 'international' )
      +filter( 'Часть войны', 'part' )
      +filter( 'Отдельное', 'alone' )
   #filter_type-century.filters__list( style='display: none' )
      +filter( 'До нашей эры', 'dice' )
      +filter( '0 - 1000', 'dice-one' )
      +filter( '1000 - 1400', 'dice-two' )
      +filter( '1400 - 1700', 'dice-three' )
      +filter( '1700 - 1850', 'dice-four' )
      +filter( '1850 - 1950', 'dice-five' )
      +filter( '1950 - 2000', 'dice-six' )
   #filter_type-alphabet.filters__list( style='display: none' )
      +filter-letter( 'А' )
      +filter-letter( 'Б' )
      +filter-letter( 'В' )
      +filter-letter( 'Г' )
      +filter-letter( 'Д' )
      +filter-letter( 'Е' )
      +filter-letter( 'Ё' )
      +filter-letter( 'Ж' )
      +filter-letter( 'З' )
      +filter-letter( 'И' )
      +filter-letter( 'К' )
      +filter-letter( 'Л' )
      +filter-letter( 'М' )
      +filter-letter( 'Н' )
      +filter-letter( 'О' )
      +filter-letter( 'П' )
      +filter-letter( 'Р' )
      +filter-letter( 'С' )
      +filter-letter( 'Т' )
      +filter-letter( 'У' )
      +filter-letter( 'Ф' )
      +filter-letter( 'Х' )
      +filter-letter( 'Ц' )
      +filter-letter( 'Ч' )
      +filter-letter( 'Э' )
      +filter-letter( 'Ю' )
      +filter-letter( 'Я' )

   #filters_decoding
      sup ?
      .icon-cross
   #filter_help( style='display: none' )
      .filters__index
         .h3.mb-05 По итогам
         +filter( 'Заключение мирного договора', 'peace' )
         +filter( 'Захват и подчинение', 'subordination' )
         +filter( 'Захват и уничтожение', 'crossbones' )
         +filter( 'Захват и ассимиляция', 'assimilation' )
         +filter( 'Отделение', 'branch' )
      .filters__index
         .h3.mb-05 По причинам
         +filter( 'Власть', 'crown' )
         +filter( 'Земли', 'map' )
         +filter( 'Влияние', 'founder' )
         +filter( 'Ресурсы', 'tree' )
         +filter( 'Рынки сбыта', 'market' )
      .filters__index
         .flex.items-center.mb-05
            .base_icon.icon-war.mr-05
            .h3 По войне
         +filter( 'Мировая', 'globe' )
         +filter( 'Локальная', 'pin' )
         +filter( 'Гражданская', 'bomb' )
         +filter( 'Религиозная', 'religion' )
         +filter( 'Классовая', 'interclass' )
      .filters__index
         .flex.items-center.mb-05
            .base_icon.icon-battle.mr-05
            .h3 По сражению
         +filter( 'Внутреннее', 'recycle' )
         +filter( 'Международнее', 'international' )
         +filter( 'Часть войны', 'part' )
         +filter( 'Отдельное', 'alone' )


