.social__holder {
   .flex();
   .justify-end();
   .items-center();
   margin-bottom: .65rem;
   
   color: @color-project-white;
   .sm-block({
      margin-bottom: .7rem;
   })
}
.social__name {
   width: 6rem;
   text-align: right;
   
   transition: .15s;
}
.social__name-big {
   width: 18.3rem;
   .sm-block({
      width: 16.3rem;
      padding-top: 1rem;
   })
}


