include __one-war
include ../mixins/___where
include ../mixins/___who
include ../mixins/___image
include ../mixins/___text

#base_holder.elements-holder.element-row
   #back

   .element-item-holder
      +item( 'Война во Вьетнаме', 'war', 'religion', 'market', 'assimilation', 'dice-six', '', '1955-1975', 'В', 'war_Vietnam', 'Один из крупнейших военных конфликтов второй половины XX века', '1', '0', '3', '3' )
      .base_panels
         +where( '1', 'Вьетнам', '', '', 'Vietnam' )
         +who( '0' )
         +image( 'war', '3', 'war_Vietnam', 'war_Vietnam-1.jpg', 'war_Vietnam-2.jpg', 'war_Vietnam-3.jpg' )
         +text( '3', 'Конфликт оставивший заметный след в культуре и занимающий существенное место в новейшей истории Вьетнама, а также США и СССР, сыгравших в нём немаловажную роль. Развивалась с 1955 года до падения Сайгона в 1975 году.', 'Война началась как гражданская в Южном Вьетнаме. В дальнейшем в войну был втянут Северный Вьетнам, позднее получивший поддержку КНР и СССР, а также США и их союзники (военный блок СЕАТО), выполнявшие обязательства по защите дружественного им Южного Вьетнама. По мере развития событий война оказалась переплетена с шедшими параллельно гражданскими войнами в Лаосе и Камбодже. Все боевые действия в Юго-Восточной Азии, проходившие с конца 1950-х годов и до 1975 года, известны как Вторая Индокитайская война.', 'Войну можно разделить на несколько периодов: партизанская война в Южном Вьетнаме (1955[1][2] — 1965), полномасштабное военное вмешательство США (март 1965 — 1973) и завершающий этап войны (1973—1975).', '')

   .element-item-holder
      +item( 'Первая Пуническая война', 'war', 'globe', 'subordination', 'assimilation', 'dice', '-', '264-241 г. до н.э.', 'П', 'war_First_Punic', 'Первая война между Римом и Карфагеном, продолжавшаяся 23 года и завершившаяся победой Римской республики', '3', '0', '0', '3' )
      .base_panels
         +where( '3', 'Средиземное море', 'Сицилия', 'Италия', '', '', 'Italy' )
         +who( '0' )
         +image( 'war', '0' )
         +text( '3', 'Конфликт оставивший заметный след в культуре и занимающий существенное место в новейшей истории Вьетнама, а также США и СССР, сыгравших в нём немаловажную роль. Развивалась с 1955 года до падения Сайгона в 1975 году.', 'Война началась как гражданская в Южном Вьетнаме. В дальнейшем в войну был втянут Северный Вьетнам, позднее получивший поддержку КНР и СССР, а также США и их союзники (военный блок СЕАТО), выполнявшие обязательства по защите дружественного им Южного Вьетнама. По мере развития событий война оказалась переплетена с шедшими параллельно гражданскими войнами в Лаосе и Камбодже. Все боевые действия в Юго-Восточной Азии, проходившие с конца 1950-х годов и до 1975 года, известны как Вторая Индокитайская война.', 'Войну можно разделить на несколько периодов: партизанская война в Южном Вьетнаме (1955[1][2] — 1965), полномасштабное военное вмешательство США (март 1965 — 1973) и завершающий этап войны (1973—1975).', '')

   .element-item-holder
      +item( 'Война с хеттами', 'battle', 'recycle', 'crown', 'peace', 'dice', '-', '1314 - 1296 г. до н.э.', 'Х', 'war_with_the_Hittites', 'Сражение между войсками Египетского и Хеттского царств, сильнейших держав Ближнего Востока. Войска возглавляли фараон Рамсес II и царь Муваталли II', '1', '2', '0', '2' )
      .base_panels
         +where( '1', 'Ближний Восток' )
         +who( '2', 'Фараон Рамзес II', 'царь Муваталли II', '', 'RamsesII', '' )
         +image( 'war', '0' )
         +text( '2', 'Столкновение произошло в городе Кадеше на реке Оронт. Хетты, имевшие явное преимущество, не смогли распорядиться им должным образом, что в итоге привело к тактической ничьей и многочисленным потерям с обеих сторон. Хетты одержали стратегическую победу, так как египтяне не сумели занять Кадеш и разбить хеттскую армию, что привело к провалу вторжения. В итоге было заключено перемирие между хеттами и египтянами. Обе стороны приписали победу себе.', 'В результате мирного договора между Египтом и Азией установился мир более чем на пол столетия, что вызвало «взрыв» торговой активности в регионе. С этого времени отношения между Египтом и Азией претерпели качественные изменения. Если раньше участники египетских военных походов с добычей возвращались на берега Нила, то теперь некоторые из них остались жить во многих сирийско-палестинских городах.')


   // type, type1, type2, century, bc, date, name, link, mainAbout, whereAmount, whoAmount, imageAmount, moreAmount
   // whereAmount, where, where2, where3, whereENG, whereENG2, whereENG3
   // whoAmount, who, who2, who3, whoENG, whoENG2, whoENG3
   // imageAmount, img1, img2, img3
   // moreAmount, text, text2, text3, text4, text5
