.filters__holder
   #filters_slider_icon.icon-sliders.base_icon-big
   #filters_close_icon.icon-cross.base_icon-big( style='display: none' )
   #filter_chosen_panel.filters( style='display: none' )
      .filter__chosen_text
      .filter__icon.icon-cross.base_icon
   .filters__trigger_holder
      .filters__list_trigger.filters( data-filter-type='side' )
         span Фильтр&nbsp;
         span по частям света
      .filters__list_trigger.filters( data-filter-type='placetype' )
         span Фильтр&nbsp;
         span по типу местности
      .filters__list_trigger.filters( data-filter-type='sphere' )
         span Фильтр&nbsp;
         span по сфере
      .filters__list_trigger.filters( data-filter-type='alphabet' )
         span Фильтр&nbsp;
         span по алфавиту
      include ../../mixins/__filter-item
      include ../../mixins/__filter-item-letter
   #filter_type-side.filters__list( style='display: none' )
      +filter( 'Европа', 'europe' )
      +filter( 'Евразия', 'eurasia' )
      +filter( 'Азия', 'asia' )
      +filter( 'Африка', 'africa' )
      +filter( 'Северная Америка', 'north_america' )
      +filter( 'Южная Америка', 'south_america' )
      +filter( 'Австралия', 'australia' )
      +filter( 'Антарктида', 'antarctica' )
   #filter_type-placetype.filters__list( style='display: none' )
      +filter( 'Континент', 'continent' )
      +filter( 'Остров', 'island' )
      +filter( 'Страна', 'country' )
      +filter( 'Регион', 'region' )
      +filter( 'Область суши', 'area' )
      +filter( 'Гора', 'mountain' )
      +filter( 'Океан', 'ocean' )
      +filter( 'Море', 'sea' )
      +filter( 'Река', 'river' )
      +filter( 'Озеро', 'lake' )
      +filter( 'Город', 'city' )
      +filter( 'Здание', 'building' )
   #filter_type-sphere.filters__list( style='display: none' )
      +filter( 'Основание государства', 'politic' )
      +filter( 'Место рождения', 'crown' )
      +filter( 'Место смерти', 'death' )
      +filter( 'Военные действия', 'war' )
      +filter( 'Сражение', 'battle' )
      +filter( 'Революция', 'bomb' )
      +filter( 'Восстание', 'fire' )
      +filter( 'Катастрофа', 'meteor' )
      +filter( 'Геноцид', 'crossbones' )
      +filter( 'Изобретение', 'drafting_compass' )
      +filter( 'Учёное открытие', 'scientist' )
      +filter( 'Осование течения философии', 'thinker' )
      +filter( 'Основание религии', 'religion' )
      +filter( 'Родина архитектурного течения/произведения', 'architect' )
      +filter( 'Написание культового произведения', 'writer' )
      +filter( 'Родина музыкального течения/произведения', 'musician' )
      +filter( 'Родина художественного течения/произведения', 'painter' )
      +filter( 'Родина вида спорта', 'sportsmen' )
   #filter_type-alphabet.filters__list( style='display: none' )
      +filter-letter( 'А' )
      +filter-letter( 'Б' )
      +filter-letter( 'В' )
      +filter-letter( 'Г' )
      +filter-letter( 'Д' )
      +filter-letter( 'Е' )
      +filter-letter( 'Ё' )
      +filter-letter( 'Ж' )
      +filter-letter( 'З' )
      +filter-letter( 'И' )
      +filter-letter( 'К' )
      +filter-letter( 'Л' )
      +filter-letter( 'М' )
      +filter-letter( 'Н' )
      +filter-letter( 'О' )
      +filter-letter( 'П' )
      +filter-letter( 'Р' )
      +filter-letter( 'С' )
      +filter-letter( 'Т' )
      +filter-letter( 'У' )
      +filter-letter( 'Ф' )
      +filter-letter( 'Х' )
      +filter-letter( 'Ц' )
      +filter-letter( 'Ч' )
      +filter-letter( 'Э' )
      +filter-letter( 'Ю' )
      +filter-letter( 'Я' )

   #filters_decoding
      sup ?
      .icon-cross
   #filter_help( style='display: none' )
      .filters__index
         .h3.mb-05 Части света
         +filter( 'Европа', 'europe' )
         +filter( 'Евразия', 'eurasia' )
         +filter( 'Азия', 'asia' )
         +filter( 'Африка', 'africa' )
         +filter( 'Северная Америка', 'north_america' )
         +filter( 'Южная Америка', 'south_america' )
         +filter( 'Австралия', 'australia' )
         +filter( 'Антарктида', 'antarctica' )
      .filters__index
         .h3.mb-05 Тип местности
         +filter( 'Континент', 'continent' )
         +filter( 'Остров', 'island' )
         +filter( 'Страна', 'country' )
         +filter( 'Регион', 'region' )
         +filter( 'Область суши', 'area' )
         +filter( 'Гора', 'mountain' )
         +filter( 'Океан', 'ocean' )
         +filter( 'Море', 'sea' )
         +filter( 'Река', 'river' )
         +filter( 'Озеро', 'lake' )
         +filter( 'Город', 'city' )
         +filter( 'Здание', 'building' )
      .filters__index
         .h3.mb-05 Сфера
         +filter( 'Основание государства', 'politic' )
         +filter( 'Место рождения', 'crown' )
         +filter( 'Место смерти', 'death' )
         +filter( 'Военные действия', 'war' )
         +filter( 'Сражение', 'battle' )
         +filter( 'Революция', 'bomb' )
         +filter( 'Восстание', 'fire' )
         +filter( 'Катастрофа', 'meteor' )
         +filter( 'Геноцид', 'crossbones' )
         +filter( 'Изобретение', 'drafting_compass' )
         +filter( 'Учёное открытие', 'scientist' )
         +filter( 'Осование течения философии', 'thinker' )
         +filter( 'Основание религии', 'religion' )
         +filter( 'Родина архитектурного течения/произведения', 'architect' )
         +filter( 'Написание культового произведения', 'writer' )
         +filter( 'Родина музыкального течения/произведения', 'musician' )
         +filter( 'Родина художественного течения/произведения', 'painter' )
         +filter( 'Родина вида спорта', 'sportsmen' )
